#card{
    background-color: white;
    box-shadow:5px 5px 50px black;
    height: 85%;
    width: 85%;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    z-index: 1;
}
.boundaries{
    height: 85%;
    width: 85%;
    position: relative;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    z-index: 2;
}
.links{
    position: absolute;
    text-align: right;
    height: 100%;
    width: 100%;
    right: 8%;
    margin-top: 8%;
    z-index: 3;
}
a:hover{
    font-size: 75%;
}
a{
    font-family: Comfortaa;
    color: #766791;
    font-size: 65%;
    text-decoration: none;
    letter-spacing: 2px;
}
.image{
    width: 100%;
    height: 100%;
    bottom: 20%;
    background:url(imgs/Reksai.png) center center no-repeat;
    z-index: 2;
    position: absolute;
}
.main{
    font-family: Comfortaa;
    letter-spacing: 10px;
    text-align: center;
    color: #766791;
    height: 100%;
    width: 100%;
    margin-top: 25%;
    position: absolute;
}
input::placeholder{
    color: lightgrey;
    font-family: Comfortaa;
    letter-spacing: 2px;
    font-size: x-small;
    padding-left: 3%;
}
input[type=text]{
    border: 1px solid #766791;
    padding: 10px 10px;
    position: absolute;
    top:550px;
    left: 42%;
}
#notify{
    height: 37px;
}
.submit{
    background-color:#766791;
    font-family: Comfortaa;
    letter-spacing: 2px;
    font-size: x-small;
    padding: 15px 15px;
    border: none;
    margin-right: 25%;
    position: absolute;
    top:550px;
    left: 53%;
}
.email{
    position: relative;
    text-align: center;
    margin-top:2%;
}

@media all and (max-width: 1000px){
    .links{
        position: absolute;
        text-align: right;
        height: 100%;
        width: 100%;
        right: 8%;
        margin-top: -5%;
        z-index: 3;
    }
    .image{
        width: 100%;
        height: 100%;
        top: -20%;
        background:url(imgs/Reksai.png) center center no-repeat;
        z-index: 2;
        position: absolute;
    }
    .main{
        font-family: Comfortaa;
        letter-spacing: 10px;
        text-align: center;
        color: #766791;
        margin-top:30%;
        height: 100%;
        width: 100%;
    }
    .submit{
        background-color:#766791;
        font-family: Comfortaa;
        letter-spacing: 2px;
        font-size: x-small;
        padding: 15px 15px;
        border: none;
        margin-right: 25%;
        position: absolute;
        top:550px;
        left: 70%;
    }
    .email{
        position: relative;
        text-align: center;
        margin-right: 20%;
        margin-top: 20%;
    }
}

@media all and (max-width: 400px){
    .links{
        position: absolute;
        text-align: center;
        height: 100%;
        width: 80%;
        z-index: 3;
        margin-top: 170%;
    }
    .image{
        width: 100%;
        height: 100%;
        top: -25%;
        left: 3%;
        background:url(imgs/Reksai.png) center center no-repeat;
        background-size: 80%;
        z-index: 3;
        position: absolute;
    }
    .main{
        font-family: Comfortaa;
        letter-spacing: 10px;
        text-align: center;
        color: #766791;
        margin-top:65%;
        height: 100%;
        width: 100%;
    }
    .submit{
        background-color:#766791;
        font-family: Comfortaa;
        letter-spacing: 2px;
        font-size: x-small;
        padding: 15px 15px;
        border: none;
        position: relative;
        top:590px;
        width:100%;
    }
    .email{
        position: relative;
        text-align: left;
        padding-left: 5%;
        width: 40%;
        top: -150px;
    }
}